.experience-container {
  padding: 20px;
  background-color: inherit; /* Herda a cor de fundo do body */
  color: inherit; /* Herda a cor do texto do body */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
  max-width: 95vw; /* Largura máxima */
  width: 95vw; /* Largura responsiva */
  margin: 20px auto; /* Centraliza o Hero */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
}

.light-mode .experience-container {
  background-color: #ffffff; /* Cor de fundo em modo claro */
  color: #333; /* Cor do texto em modo claro */
}

.dark-mode .experience-container {
  background-color: #2c2c2c; /* Cor de fundo em modo escuro */
  color: #ffffff; /* Cor do texto em modo escuro */
}

.experience-container h2 {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 40px; /* Espaçamento abaixo do título */
  color: inherit; /* Herda a cor do texto do container */
}

.experience-item {
  margin-bottom: 20px; /* Espaçamento entre as experiências */
  padding: 15px; /* Espaçamento interno */
  background-color: inherit; /* Herda a cor de fundo do container */
  border-radius: 5px; /* Bordas arredondadas para os itens */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.light-mode .experience-item:hover {
  background-color: rgba(74, 144, 226, 0.2); /* Cor de fundo ao passar o mouse */
}

.dark-mode .experience-item:hover {
  background-color: rgba(74, 144, 226, 0.2); /* Cor de fundo ao passar o mouse */
}

.clickable-title {
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  color: #ffffff; /* Cor do título */
  font-size: 1.5rem; /* Tamanho da fonte do título */
  margin: 0; /* Remove margem padrão */
  display: flex; /* Usar flexbox para alinhar o conteúdo */
  justify-content: space-between; /* Espaço entre o título e o período */
  align-items: center; /* Alinha verticalmente */
  transition: color 0.3s; /* Transição suave para a cor */
}

.experience-period {
  font-weight: normal; /* Peso da fonte normal para o período */
  color: #e0e0e0; /* Cor do texto do período */
  font-size: 1rem; /* Tamanho da fonte do período */
}

.experience-details {
  margin-top: 10px; /* Espaçamento acima das informações detalhadas */
  padding: 10px; /* Espaçamento interno */
  background-color: inherit; /* Herda a cor de fundo do container */
  border-radius: 5px; /* Bordas arredondadas */
}

.experience-item p {
  font-weight: bold; /* Negrito para o período */
  margin: 5px 0; /* Margem para separar do restante do conteúdo */
  color: inherit; /* Herda a cor do texto do container */
}

.experience-item ul {
  list-style-type: none; /* Remove marcadores padrão */
  padding-left: 0; /* Remove padding */
}

.experience-item li {
  margin: 5px 0; /* Espaçamento entre os itens da lista */
  line-height: 1.5; /* Altura da linha para melhor legibilidade */
  position: relative; /* Para posicionar o marcador */
  padding-left: 20px; /* Espaçamento à esquerda para o marcador */
  color: inherit; /* Herda a cor do texto do container */
}

.experience-item li::before {
  content: '✔'; /* Ícone de verificação como marcador */
  position: absolute; /* Posiciona o ícone */
  left: 0; /* Alinha à esquerda */
  color: #4a90e2; /* Cor do ícone */
  font-size: 1.2rem; /* Tamanho do ícone */
}

.experience-item h3 {
  color: inherit; /* Herda a cor do texto do container */
  margin: 0; /* Remove margem padrão */
} 

.experience-item span {
  color: inherit; /* Herda a cor do texto do container */
  margin: 0; /* Remove margem padrão */
} 